# A general-purpose Java/Gradle .gitignore
HELP.md
# Compiled class file caches and build outputs
build/
out/
bin/
.gradle/

# The Gradle wrapper JAR is an exception and SHOULD be committed.
!gradle/wrapper/gradle-wrapper.jar

# IDE-specific files
# IntelliJ
.idea/
*.iml
*.iws
*.ipr

# STS/Eclipse
.classpath
.project
.settings
.factorypath
.apt_generated
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# Log files and temporary files
*.log
*.tmp
